html, body, h1, h2, h3, h4, h5, h6 {
 font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

body {
	background-color: #d8d8d8;
	font-family: Arial, sans-serif;
        color: white;
        background-image: url("../images/standard/bgimg.png");
}

.form-sign{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

.w3-tangerine {
  font-family: 'Tangerine', serif;
}
.w3-pacifico {
    font-family: 'Pacifico', cursive;
}

.landingpagelogo {
    width: 100%;
    max-width: 500px;
}


.nav-bar{
    position: relative;
    padding-top: 1%;
}

.nav-bar a {
    padding: 2%;
}

a:visited{
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

a {
    color: white; 
                text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

a:hover{
  color: #f88379;  
          text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}


.area{
margin-left: auto;
margin-right: auto;
width: 75%;
text-align: center;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}


.foot{
    position: absolute;
    bottom: 50%; 
}

.blogs-page {
       position: relative;
   background-color: #f88379;
       opacity: 0.9;
       filter: Alpha(opacity=50);
       text-align: center;
}

.blogTitle{
    text-decoration: none;
}

.add-blog{
/*    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
margin-left: auto;
margin-right: auto;
width: 50%;
   background-color: #f88379;
   opacity: 0.9;
   filter: Alpha(opacity=50);
   align-content: center;
   border-radius: 10px;
}

.userblog{
    position: relative;
   background-color: #f88379;
   opacity: 0.9;
   filter: Alpha(opacity=50);
   align-content: center;
   border-radius: 10px;
   margin: 50px;
   text-align: center;
}

.reload{
    text-align: center;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.guestsign{
    text-decoration: underline;
}

/*css for displaying comments on read blog page*/
.cmtcomment {
  border: 4px solid #ccc;
  border-radius: 20px;
  margin: 50px;
  padding: 5px;
  background-color: #b7b7b7;
}

.cmtdate {
  color: #f88379;
  font-size: 1.2em;
  margin: 2px;
}
.cmtcontent {
  color: #f88379;
  margin: 10px;
  border-radius: 20px;
  background-color: #f0f0f0;
  padding: 30px;
  text-align: center;
}

.cmtname {
  color: #f88379;
  font-weight: bold;
  font-size: 1.2em;
}

/*css for user home page*/
.card-body {
   background-color: #f88379;
   opacity: 0.9;
   filter: Alpha(opacity=50);
   align-content: center;
   border-radius: 10px;
}
.all-card-title:hover {
   color: #d8d8d8;  
}

.card {
   background-color: #f88379;
   opacity: 0.9;
   filter: Alpha(opacity=50);
   align-content: center;
   border-radius: 10px;
}
/*emptycomment is the css for the wow much empty image */
.emptycomment {
    text-align: center;
}

/*css for see comments dropdown button & add comment button on read.php*/
#seecommentsbutton {
    text-align: center;
}
#addcommentbutton {
    text-align: center;
}
/*css for see user blogs dropdown button on home.php*/
#seeuserblogs {
    text-align: center;
}

.commentsbutton {
    background-color: #3e3e3e;
    border: black solid 3px;
    border-radius: 10px;
    color: white;
}

.commentsbutton:hover {
    color: #f88379;
}

/*readbutton id is on the user home page as anchor css makes it unreadable*/
#readbutton {
    color: #f88379;
}
#readbutton:hover{
  color: #f88379;  
          text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

/*profile pic in nav bar and blog and comments*/
.navprofile {
    border-radius: 50px;
    margin-bottom: 10px;
}

.bloginput{
    border-radius: 10px;
}



.testing {
    
margin-left: auto;
margin-right: auto;
width: 50%;
min-width: 300px;
    
}

.profile-page{
    color: #f88379; 
}

.profile-upload{
    position: relative;
    left:50%;
    padding-top: -10%;
}

.propic{
    position: absolute;
    left:20%;
    top:-120%;
}